<form method="post" action="{{ path('app_course_delete', {'id': course.id}) }}" onsubmit="return confirm('Êtes-vous certain de vouloir supprimer cette matière ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ course.id) }}">
    <button class="btn text-secondary" style="font-size: 20px;"><img class="" src="">Supprimer</button>
</form>
