<form method="post" action="{{ path('app_origin_delete', {'id': origin.id}) }}" onsubmit="return confirm('Êtes-vous certain de vouloir supprimer cette origine ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ origin.id) }}">
    <button class="btn text-secondary" style="font-size: 20px;"><img class="" src="">Supprimer</button>
</form>
