{% block header %}

	<div class="header">
		{% if app.user %}
			<div class="header-container">
				<p>{{ app.user.getFirstName()  }}
					{{ app.user.getLastName()  }}</p>

				<img class="user-image" src="image/user.svg" "">
			</div>
		{% else %}
			<div class="header-container">
				<a class="login-links" href="/login">
					<img class="login-img" src="image/login.svg">
					<p>Connexion</p>
				</a>
			</div>
		{% endif %}


	</div>

{% endblock %}
<style>
	.header {
		background-color: #fff;
		padding: 2% 0;
	}
	.header-container {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		text-align: center;
		margin-right: 4%;
	}
	.user-image {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		margin: 0 1%;
		background-color: lightgrey;
		padding: 5px;
	}

	.login-img {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		margin: 0 1%;
		padding: 5px;
	}
	.login-links {
		display: flex;
		justify-content: center;
		align-items: center;
	}
</style>
