{% block body %}
	<button data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
		<span class="sr-only">Open sidebar</span>
		<svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
			<path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
		</svg>
	</button>
	<!--sidebar-->
	<aside id="default-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">

		<div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
			<ul class="space-y-2 font-medium">
				<li>
					<a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white group">
						<div class="flex items-center">
							<img class="imgLogo" src="image/lyceestv.png" style="width: 15%">
							<div class="flex flex-col" style="margin : 0% 5%">
								<h2>Math Index</h2>
								<p style="font-size: 12px; color: #757575">Lycée Saint-Vincent - Senlis</p>
							</div>
						</div>
					</a>
				</li>
				<li>
					<a href="/ " class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group sidebar-home">
						<img src="image/home.svg">
						<span class="ms-3 sidebar-home-element" style="color: #757575">Accueil</span>
					</a>
				</li>
				<li>
					<a href="/search" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group sidebar-search">
						<img src="image/glass.svg">
						<span class="flex-1 ms-3 whitespace-nowrap sidebar-search-element" style="color: #757575">Recherche</span>
					</a>
				</li>
				<li>
					<a href="/exercise" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group sidebar-math">
						<img src="image/math.svg">
						<span class="flex-1 ms-3 whitespace-nowrap sidebar-math-element" style="color: #757575">Mathematique</span>
					</a>
				</li>

				{% if app.user %}
					<li>
						<a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group sidebar-exercise">
							<img src="image/physics.svg">
							<span class="flex-1 ms-3 whitespace-nowrap sidebar-exercise-element" style="color: #757575">Mes exercices</span>
						</a>
					</li>
					<li>
						<a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group sidebar-send">
							<img src="image/submit.svg">
							<span class="flex-1 ms-3 whitespace-nowrap sidebar-send-element" style="color: #757575">Soumettre</span>
						</a>
					</li>
				{% endif %}

			</ul>
			{% if app.user %}

				<a href="/logout" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group sidebar-deconnect" style="position: fixed; bottom: 20px;">
					<img src="image/disconnection.svg">
					<span class="flex-1 ms-3 whitespace-nowrap sidebar-deconnect-element" style="color: #757575">Déconexion</span>
				</a>
			{% endif %}

		</div>
	</aside>
{% endblock %}

<style>
	#default-sidebar {
		box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
	}
	.sidebar-home:hover .sidebar-home-element {
		color: #1B3168 !important;
	}
	.sidebar-search:hover .sidebar-search-element {
		color: #1B3168 !important;
	}
	.sidebar-math:hover .sidebar-math-element {
		color: #1B3168 !important;
	}
	.sidebar-exercise:hover .sidebar-exercise-element {
		color: #1B3168 !important;
	}
	.sidebar-send:hover .sidebar-send-element {
		color: #1B3168 !important;
	}
	.sidebar-deconnect:hover .sidebar-deconnect-element {
		color: #1B3168 !important;
	}
</style>
