{% extends 'base.html.twig' %}

{% block title %}Edit Exercise{% endblock %}

{% block body %}
    <h1>Edit Exercise</h1>

    {{ include('exercise/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_exercise_index') }}">back to list</a>

    {{ include('exercise/_delete_form.html.twig') }}
{% endblock %}
