{% extends 'base.html.twig' %}

{% block title %}New Exercise{% endblock %}

{% block body %}
    <h1>Create new Exercise</h1>

    {{ include('exercise/_form.html.twig') }}

    <a href="{{ path('app_exercise_index') }}">back to list</a>
{% endblock %}
