<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Acceuil Math index
			{% endblock %}
		</title>
		<link rel="icon" href="data:imag0e/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet"/>
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('styles/app.css') }}">
			<link rel="stylesheet" href="{{ asset('CSS/style.css') }}">
		{% endblock %}

		{% block javascripts %}
			{{ importmap() }}
		{% endblock %}
	</head>
	<body>
		{% block body %}
			<button data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
				<span class="sr-only">Open sidebar</span>
				<svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
					<path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
				</svg>
			</button>
			<!--side bar-->
			<aside id="default-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
				<div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
					<ul class="space-y-2 font-medium">
						<li>
							<a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
								<img class="imgLogo" src="image/lyceestv.png">
								<span class="ms-3">Math Index</span>
								<span class="titleSidebar">Lycée Saint-Vincent - Senlis</span>
							</a>
						</li>
						<li>
							<a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
								<img src="image/home.svg">
								<span class="ms-3">Accueil</span>
							</a>
						</li>
						<li>
							<a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
								<img src="image/glass.svg">
								<span class="flex-1 ms-3 whitespace-nowrap">Recherche</span>
							</a>
						</li>
						<li>
							<a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
								<img src="image/math.svg">
								<span class="flex-1 ms-3 whitespace-nowrap">Mathematique</span>
							</a>
						</li>
						<li>
							<a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
								<img src="image/physics.svg">
								<span class="flex-1 ms-3 whitespace-nowrap">Mes exercices</span>
							</a>
						</li>
						<li>
							<a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
								<img src="image/submit.svg">
								<span class="flex-1 ms-3 whitespace-nowrap">Soumettre</span>
							</a>
						</li>
					</ul>
					<a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
						<img src="image/disconnection.svg">
						<span class="flex-1 ms-3 whitespace-nowrap">Déconection</span>
					</a>
				</div>
			</aside>
		{% endblock %}
	</body>
</html>
