{% extends 'base.html.twig' %}

{% block title %}Skill{% endblock %}

{% block body %}
    <h1>Skill</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ skill.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ skill.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_skill_index') }}">back to list</a>

    <a href="{{ path('app_skill_edit', {'id': skill.id}) }}">edit</a>
{% endblock %}
