<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Acceuil
			{% endblock %}
		</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
		<link rel="icon" href="data:imag0e/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet"/>
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('styles/app.css') }}">
			<link rel="stylesheet" href="{{ asset('CSS/style.css') }}">
		{% endblock %}

		{% block javascripts %}
			{{ importmap() }}
		{% endblock %}
	</head>
	<body>
		{% include "sidebar/disconnected.html.twig" %}
		<main>
			{% include "header/disconnected.html.twig" %}
			{% block body %}{% endblock %}
			<footer>
				{% include "footer.html.twig" %}
			</footer>
		</main>
	</body>
</html>
<style>
	html {
		height: 100%;
		background-color: #EFF2F4;
	}
	main {
		margin-left: 16rem;
		background-color: #EFF2F4;
	}
	footer {
		bottom: 0;
	}
</style>
