{% block homepage %}

	<div class="homepage container">
		<h1>Accueil</h1>
		<p>Nous sommes ravis de vous accueillir sur Math Index, la plateforme mathématique exclusive du lycée Saint-Vincent Senlis. Développée avec passion pour enrichir l'expérience éducative de nos étudiants, cette ressource en ligne offre un accès simplifié à une vaste bibliothèque d'exercices mathématiques de qualité.</p>
		<h2>Explorez les Avantages Spécifiques à Notre Lycée :</h2>

	</div>

{% endblock %}
