{% extends 'base.html.twig' %}

{% block title %}Rechercher
{% endblock %}

{% block body %}

	<div class="search">
		<h1 class="search-title">Rechercher un exercice</h1>
		<div class="search-container">
			<div class="search-select">
				<h2>Niveau :
				</h2>
				<select class="form-select" aria-label="Default select example">
					<option selected>Open this select menu</option>
					<option value="1">One</option>
					<option value="2">Two</option>
					<option value="3">Three</option>
				</select>
			</div>

			<div class="search-select">
				<h2>Thématique
				</h2>
				<select class="form-select" aria-label="Default select example">
					<option selected>Open this select menu</option>
					<option value="1">One</option>
					<option value="2">Two</option>
					<option value="3">Three</option>
				</select>
			</div>

			<div>
				<h2>Mots clés :
				</h2>
				<div class="input-group mb-3">
					<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
				</div>
			</div>

			<button type="submit" class="btn" style="background-color:#F6F6F6">Connexion</button>
		</div>
	</div>

	<style>
		.search {
			margin: 3%;
			background-color: #EFF2F4;
			font-size: 110%;
		}
		.search-container {
			background-color: #fff;
			border-radius: 5px;
			padding: 2% 2% 15%;
			margin: 1% 0;
			color: #000000;
			display: flex;
		}
		.search-title {
			font-size: 200%;
			font-weight: 500;
			color: #1B3168;

		}
	</style>
{% endblock %}
