<form method="post" action="{{ path('app_classroom_delete', {'id': classroom.id}) }}" onsubmit="return confirm('Êtes-vous certain de vouloir supprimer cette classe ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ classroom.id) }}">
    <button class="btn text-secondary" style="font-size: 20px;"><img class="" src="">Supprimer</button>
</form>
